p, h1, h2, h3, h4, table {
    margin-left: 15px;
}

select {
    width: 250px;
}

p {
    font: 16px sans-serif
}

h1, h2, h3, h4 {
    font-family: sans-serif
}

.headerContainer {
    width: 100%;
    background-color: #778899;
    height: 8%;
}

.headerBox {
    display: table;
}

.mainTitle {
    display: table-cell;
    width: 86.1%;
}

.login {
    display: table-cell;
}

.login {
    text-align: right;
}