p, h1, h2, h3, h4, table {
    margin-left: 15px;
}

select {
    width: 250px;
}

p {
    font: 16px sans-serif;
}

table {
    font: 16px sans-serif;
    color: #202020;
}

table a {
    color: #483D8B;
}

h1, h2, h3, h4 {
    font-family: sans-serif
}

.headerContainer {
    width: 100%;
    background-color: #778899;
    height: 8%;
}

.headerBox {
    display: table;

}

.mainTitle {
    display: table-cell;
    width: 86.1%;
}

.mainTitle h1 {
    color: #e8e8e8;
}

.login {
    color: #e8e8e8;
    display: table-cell;
    text-align: right;
}

.login a {
    color: #F0FFFF;
    /*text-align: right;*/
}

.mainBody {
    background-color: #e8e8e8;
}

.mainBody {
    color: #303030;
}

.mainBody a {
    color: #483D8B;
}

.menuBody {
    background-color: #dcdcdc;
}

.menuBody a {
    color: #483D8B;
}

footer {
    background-color: #778899;
}